a {
  text-decoration: none;
  color: unset;
}
@font-face {
  font-family: "Titillium";
  src: url("Titillium-Bold.woff2") format("woff2"),
    url("Titillium-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium";
  src: url("Titillium-Regular.woff2") format("woff2"),
    url("Titillium-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium";
  src: url("Titillium-Thin.woff2") format("woff2"),
    url("Titillium-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium";
  src: url("Titillium-Black.woff2") format("woff2"),
    url("Titillium-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
